

h1{
    color: red;
}

li{
    color: rgb(8, 84, 1);
}

p{
    color: #0895a8;
}

h4{
    color: rgba(255, 97,0, 0.1);
}

body{
    background-color: white;
}

div{
    background-color: red;
    border-color: blue;
    border-width: 2px;
    border-style: dotted;
}

.firstdiv {
    coler: blue;
}

.seconddiv {
    color:black;
}

#sing {
    color:green;
    text-decoration: line-through;
}

h3 + ul {
    border:4px dotted purple;
}

li a {
    color:red;
}

li a[href="www.ngr.org"]{
    color: blue;
    border: 5px solid orange;
}
